# **1. Data Cleaning**

In [90]:
!pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\ahmedabobakr\appdata\local\programs\python\python312\lib\site-packages (2.3.0)
Requirement already satisfied: openpyxl in c:\users\ahmedabobakr\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ahmedabobakr\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ahmedabobakr\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ahmedabobakr\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ahmedabobakr\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in c:\users\ahmedabobakr\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in c:\users\ahmedabobakr\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [106]:
import pandas as pd

In [107]:
df_models = pd.read_excel('ProductionData.xlsx', sheet_name='models')
df_production_record = pd.read_excel('ProductionData.xlsx', sheet_name='production_record')
df_repair = pd.read_excel('ProductionData.xlsx', sheet_name='repair')
df_lab_samples = pd.read_excel('ProductionData.xlsx', sheet_name='lab_samples')
df_scrap = pd.read_excel('ProductionData.xlsx', sheet_name='scrap')
df_defective_cost = pd.read_excel('ProductionData.xlsx', sheet_name='defective_cost')
df_action_plan = pd.read_excel('ProductionData.xlsx', sheet_name='action_plan')

c:\Users\ahmedabobakr\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\ahmedabobakr\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\ahmedabobakr\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\ahmedabobakr\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\ahmedabobakr\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\ahmedabobakr\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [108]:
df_production_record = df_production_record.drop('##', axis=1)
df_production_record = df_production_record.drop('#', axis=1)
df_production_record = df_production_record.drop('جودة', axis=1)
df_production_record = df_production_record.drop('مدة العمل المخطط', axis=1)
df_repair            = df_repair.drop('Column2', axis=1)
df_repair            = df_repair.drop('Column1', axis=1)
df_repair = df_repair.dropna(axis=1, how='all')
df_repair = df_repair.loc[:, ~df_repair.columns.str.contains('^Unnamed')]
df_defective_cost = df_defective_cost.loc[:, ~df_defective_cost.columns.str.contains('^Unnamed')]

In [ ]:
# change column name
df_models.columns             = ['date', 'month', 'day', 'model', 'production', 'repairs count', 'repairs percentage', 'start barcode',  'end barcode', 'quality']
df_production_record.columns  = ['date', 'day', 'month', 'planned', 'actual production', 'no. technician', 'designed technician rate' , 'Rate According to Plan' , 'actual technicain rate' , 'total repaired counts','percentage total repaired' ,'counts repaired supplier ' ,'percentage repaired supplier' ,'production repaired counts' , 'production repaired percentage' ,'stopaage status' ,'stoppage time' , 'actual working hours' , 'performance' , 'target' ,'avaiability']         
df_repair.columns             = ['date', 'month', 'day', 'model', 'defect', 'root cause', 'responsible', 'proposer',  'no. defects', 'production', 'percentage of repairs']                    
df_lab_samples.columns        = ['date', 'day', 'month', 'production', 'model', 'samples count', 'defective count', 'PPM', 'defect']                         
df_scrap.columns                = ['date',  'day', 'month','material code', 'material desciption', 'order no', 'order quantity', 'scrap quantity',  'unit', 'scrap rate', 'price per unit', 'total cost', 'scrap reason', 'NCR']                            
df_defective_cost.columns       = ['month', 'day', 'year', 'model', 'count', 'cost', 'total']                    
df_action_plan.columns         = ['defect', 'root cause', 'procedure', 'resposible', 'date', 'status']

# **2. Data Preprocessing**

In [115]:
with pd.ExcelWriter('Cleaned_ProductionData.xlsx', engine='openpyxl') as writer:
    df_models.to_excel(writer, sheet_name='models', index=False)
    df_production_record.to_excel(writer, sheet_name='production_record', index=False)
    df_repair.to_excel(writer, sheet_name='repair', index=False)
    df_lab_samples.to_excel(writer, sheet_name='lab_samples', index=False)
    df_scrap.to_excel(writer, sheet_name='scrap', index=False)
    df_defective_cost.to_excel(writer, sheet_name='defective_cost', index=False)
    df_action_plan.to_excel(writer, sheet_name='action_plan', index=False)

In [ ]:
df_models

<bound method Series.unique of 0      M55F
1      M65F
2      M45F
3      M35F
4      M35F
       ...
557    M65F
558    D65F
559    M65F
560    M35S
561    D65F
Name: model, Length: 562, dtype: object>

In [127]:
df_models

,date,month,day,model,production,repairs count,repairs percentage,start barcode,end barcode,quality
0,2022-07-03,Jul,Sun,M55F,196,6,0.030612,11845,12040,جودة
1,2022-07-03,Jul,Sun,M65F,358,1,0.002793,7609,7966,جودة
2,2022-07-03,Jul,Sun,M45F,8,0,0.000000,7112,7119,جودة
3,2022-07-03,Jul,Sun,M35F,489,4,0.008180,8757,9245,جودة
4,2022-07-04,Jul,Mon,M35F,567,15,0.026455,9246,9812,جودة
...,...,...,...,...,...,...,...,...,...,...
557,2023-10-30,Oct,Mon,M65F,374,0,0.000000,3534,3907,جودة
558,2023-10-30,Oct,Mon,D65F,434,18,0.041475,6130,6563,جودة
559,2023-10-31,Oct,Tue,M65F,101,0,0.000000,3908,4008,جودة
560,2023-10-31,Oct,Tue,M35S,400,46,0.115000,1480,1879,جودة
561,2023-10-31,Oct,Tue,D65F,1,0,0.000000,6564,6564,جودة

In [137]:
dim_models = df_models[['model']].drop_duplicates()
dim_models.columns        = ['model']

In [138]:
dim_models

   model
0   M55F
1   M65F
2   M45F
3   M35F
16  M65S
17  M45S
22  D55S
23  D35F
25  D55F
28  M55S
30  M35S
35  D35S
36  D45S
49  D65S
51  D65F
52  D45F

In [139]:
df_models

,date,month,day,model,production,repairs count,repairs percentage,start barcode,end barcode,quality
0,2022-07-03,Jul,Sun,M55F,196,6,0.030612,11845,12040,جودة
1,2022-07-03,Jul,Sun,M65F,358,1,0.002793,7609,7966,جودة
2,2022-07-03,Jul,Sun,M45F,8,0,0.000000,7112,7119,جودة
3,2022-07-03,Jul,Sun,M35F,489,4,0.008180,8757,9245,جودة
4,2022-07-04,Jul,Mon,M35F,567,15,0.026455,9246,9812,جودة
...,...,...,...,...,...,...,...,...,...,...
557,2023-10-30,Oct,Mon,M65F,374,0,0.000000,3534,3907,جودة
558,2023-10-30,Oct,Mon,D65F,434,18,0.041475,6130,6563,جودة
559,2023-10-31,Oct,Tue,M65F,101,0,0.000000,3908,4008,جودة
560,2023-10-31,Oct,Tue,M35S,400,46,0.115000,1480,1879,جودة
561,2023-10-31,Oct,Tue,D65F,1,0,0.000000,6564,6564,جودة

In [140]:
dim_models.reset_index(drop=True, inplace=True)

In [141]:
dim_models

   model
0   M55F
1   M65F
2   M45F
3   M35F
4   M65S
5   M45S
6   D55S
7   D35F
8   D55F
9   M55S
10  M35S
11  D35S
12  D45S
13  D65S
14  D65F
15  D45F

In [136]:
with pd.ExcelWriter('Cleaned_ProductionData.xlsx', engine='openpyxl') as writer:
    df_models.to_excel(writer, sheet_name='models', index=False)
    df_production_record.to_excel(writer, sheet_name='production_record', index=False)
    df_repair.to_excel(writer, sheet_name='repair', index=False)
    df_lab_samples.to_excel(writer, sheet_name='lab_samples', index=False)
    df_scrap.to_excel(writer, sheet_name='scrap', index=False)
    df_defective_cost.to_excel(writer, sheet_name='defective_cost', index=False)
    df_action_plan.to_excel(writer, sheet_name='action_plan', index=False)
    dim_models.to_excel(writer, sheet_name='dim_models', index=False)